@font-face {
  src: url(fonts/Manrope-VariableFont_wght.ttf);
  font-family: "Manrope", sans-serif;
}

:root {
  --color-1: #edff00;
  --color-2: #7bafd4;
  --color-3: #9ad9b3;

  --font-1: "Manrope", sans-serif;
  --main-text-color: #111;
}

* {
  margin: 0;
}

footer {
  background-color: var(--color-2);
  text-align: center;
  padding-top: 8%;
}

#newsletter {
  background-color: white;
  width: 80%;
  padding-top: 5%;
  margin-left: 10%;
  overflow: hidden;
  height: 20vh;
  box-shadow: 5px 5px 0px 0px #edff00, -12px 14px 15px 3px rgba(237, 255, 0, 0);
}

#newsletter p {
  font-family: var(--font-1);
  font-size: 1rem;
  width: 73%;
  padding-left: 15%;
  padding-bottom: 4%;
}

#newsletter .input-group {
  padding-bottom: 5%;
}

.signUp {
  background-color: rgb(0, 0, 0);
  border-radius: 2em;
  border-color: #7bafd400;
  padding: 10px 20px;
  color: white;
  transition: all 0.2s;
}

.signUp:hover {
  background-color: var(--color-1);
}

#footerSome {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}

#footerSome a {
  padding-left: 3%;
  padding-right: 3%;
}

#footerLinks {
  padding-top: 6%;
  padding-bottom: 12%;
}

#footerLinks a {
  text-decoration: none;
  font-family: var(--font-1);
  font-weight: 600;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
}
