* {
    margin: 0;
    padding: 0;
    /*    outline: 1px dashed green;*/
}

html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

/* a {
    text-decoration: none;
    color: black;
} */

.img_type {
    /* display: block; */
    max-height: 130px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* max-width: 100%;
    height: auto; */
    /* box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 16%); */
    /* border-bottom: 2px orange solid; */
}

.text-bag_type {
    font-family: var(--font-1);
    /* font-family: "Roboto Regular", sans-serif; */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a.selected_type {
    border-bottom: 4px #edff00 solid;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 20%);
    font-weight: bold;
    z-index: 2;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 290px));
    gap: 2.5rem;
    /* margin-left: 3rem;
    margin-right: 3rem; */

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#content_grid {
    display: grid;
    grid-template-columns: 300px 50px auto;
    grid-template-rows: 200px 50px auto;

    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 3px purple; */
}

.buttons-filter_and_sort {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.filtering_and_sorting {
    height: auto;
    max-width: 300px;
    /* border: blue 2px solid; */
    grid-column: 1/2;
    grid-row: 3/4;
    /* margin-left: auto;
    margin-right: auto; */
}

.filtering_and_sorting > * {
    font-family: var(--font-1);
}

.filtering_and_sorting > div > div.buttons-filter_and_sort > p {
    font-weight: 700;
    padding-left: 10px;
    font-size: 1.1em;
}

.filtering_and_sorting > div#filter_by > div.filtering_category > p {
    font-weight: 700;
}

.filtering_and_sorting > div#filter_by > ul > li > p {
    padding-left: 15px;
}

.filtering_and_sorting > div#filter_by > ul > li > img {
    padding-left: 20px;
}

.filtering_and_sorting > div#filter_by > ul > li > span.filter-circle_color {
    margin-left: 20px;
}

.filtering_category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
    border-top: rgba(0, 0, 0, 0.4) 1px solid;
}

#filter-type_of_bag {
    /* border: red 2px solid; */
    grid-column: 1/4;
    grid-row: 1/2;
    border-bottom: rgba(0, 0, 0, 0.15) solid 3px;

    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: flex-start;
    justify-content: space-around;
}

.filter-bags-sprite {
    text-align: center;
    background-color: white;
    height: 192px;
    width: -webkit-fill-available;

    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.view-all-sprite {
    width: 150px;
    /* display: inline-table; */
    /* align-self: center; */
    background-color: #f6f6f6;
}

.text-view_all {
    padding-top: 95px;
}

li.filter-categories_items {
    list-style-type: none;
    white-space: nowrap;
    display: flex;
    height: 50px;
    align-items: center;
}

.filter-circle_color {
    /* background: lightblue; */
    /* border: black solid 1px; */
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

@media (max-width: 1400px) {
    #content_grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 50px auto;
        max-width: calc(100% - 100px);
        margin-left: auto;
        margin-right: auto;
    }
    .filter-bags-sprite {
        height: 180px;
    }
}

@media (max-width: 1350px) {
    #filter-type_of_bag {
        justify-content: flex-start;
    }
    .img_type {
        padding-bottom: 0;
    }
}

@media (max-width: 600px) {
    #content_grid {
        max-width: 80%;
        grid-template-columns: 100%;
        grid-template-rows: 170px 50px auto;
        margin-left: auto;
        margin-right: auto;
    }

    .filtering_and_sorting {
        height: auto;
        max-width: none;
    }

    .img_type {
        max-height: 95px;
        padding-bottom: 0;
    }

    .filtering {
        width: 300px;
        max-width: calc(100% - 50px);
        margin-left: auto;
        margin-right: auto;
    }

    .view-all-sprite {
        width: 110px;
        /* display: inline-table; */
        /* align-self: center; */
        background-color: #f6f6f6;
    }

    .filter-bags-sprite {
        text-align: center;
        height: 145px;
    }

    .text-view_all {
        padding-top: 70px;
    }
    .text-bag_type {
        font: var(--font-1);
        font-size: 14px;
    }
}

/* grid-template-columns: repeat(3, 1fr); */
/* justify-self: center; */
